@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #912323;
  margin: 0;
  padding: 0;
}

h1 {
  color: #0e0d0d;
  font-weight: bolder;
  font-style: italic;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  text-transform: uppercase;
}

.student-card {
  background-color: white;
  border: 3px solid #0c0c0c;
  border-radius: 15px;
  padding: 30px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.4s;
  margin: 10px;
  
  
  
}

.student-card:hover{
  transform: translateY(-5px);
}

.student-card h2 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px ;
  color: #201a1a;
}

.student-card p {
  text-align: left;
  font-weight: bold;
  margin: 10px 0;
  color: #063d70;
}
